In [ ]:
import numpy as np
import pandas as pd
proc = pd.read_csv('/content/PP_recipes.csv', sep=',')
raw = pd.read_csv('/content/RAW_recipes.csv', sep=',')

In [ ]:
merged = pd.merge(proc, raw, left_on='id', right_on='id', how='inner')
#merged

In [ ]:
merged = merged.drop(columns=['i', 'ingredient_tokens', 'name_tokens', 'steps_tokens', 'techniques', 'contributor_id', 'submitted', 'tags', 'ingredients'])

In [ ]:
merged['total_fat'] = 0.0
merged['sugar'] = 0.0
merged['sodium'] = 0.0
merged['protein'] = 0.0
merged['saturated_fat'] = 0.0
merged['calories'] = 0.0
merged['carb'] = 0.0

In [ ]:
str_list = ['calories', 'total_fat', 'sugar', 'sodium', 'protein', 'saturated_fat', 'carb']
for index, row in merged.iterrows():
    arr = row['nutrition'][1:-1].split(',')
    for i in range(len(arr)):
        #calories (#), total fat (PDV), sugar (PDV) , sodium (PDV) , protein (PDV) , saturated fat
        merged[str_list[i]][index] = arr[i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
merged = merged.drop(columns=['calorie_level'])

In [ ]:
user = pd.read_csv('/content/PP_users.csv', sep=',')

In [ ]:
merged['num_rating'] = 0
merged['ratings'] = 0.0

In [ ]:
for index, row in user.iterrows():
    items = row['items'][1:-1].split(',')
    ratings = row['ratings'][1:-1].split(',')
    for i in range(len(items)):
        item = int(items[i])
        merged['num_rating'][item] += 1
        merged['ratings'][item] += float(ratings[i])
merged

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

            id  ... ratings
0       424415  ...     9.0
1       146223  ...     4.0
2       312329  ...    10.0
3        74301  ...    19.0
4        76272  ...     9.0
...        ...  ...     ...
178260  323143  ...     0.0
178261  149114  ...     5.0
178262   34200  ...    19.0
178263   30618  ...     0.0
178264  263840  ...     0.0

[178265 rows x 18 columns]

In [ ]:
merged = merged.drop(columns=['nutrition'])

In [ ]:
merged['ratings'] = merged['ratings'] / merged['num_rating']

In [ ]:
merged['ratings'] = merged['ratings'].replace(np.nan, 0.0)

In [ ]:
merged

            id  ... ratings
0       424415  ...    4.50
1       146223  ...    4.00
2       312329  ...    5.00
3        74301  ...    3.80
4        76272  ...    4.50
...        ...  ...     ...
178260  323143  ...    0.00
178261  149114  ...    5.00
178262   34200  ...    4.75
178263   30618  ...    0.00
178264  263840  ...    0.00

[178265 rows x 17 columns]

In [ ]:
data = []
for index, row in merged.iterrows():
    ids = row['ingredient_ids'][1:-1].split(',')
    for i in range(len(ids)):
        data.append([row['id'], int(ids[i])])

In [ ]:
df = pd.DataFrame(data, columns=['recipe_id', 'ingr_id'])
df.to_csv('/content/has_ingr.csv')

In [ ]:
merged.to_csv('/content/final_recipe.csv')

In [ ]:
ingr = pd.read_csv('/ingr.csv', sep=',', header=None)
ingr

           0  ...                             3
0          0  ...   dried* and torn into pieces
1          1  ...                           NaN
2          2  ...                           NaN
3          3  ...                           NaN
4          4  ...                           NaN
...      ...  ...                           ...
11654  11654  ...                           NaN
11655  11655  ...                           NaN
11656  11656  ...                           NaN
11657  11657  ...                           NaN
11658  11658  ...                           NaN

[11659 rows x 4 columns]

In [ ]:
import pandas as pd
with open('/content/ingr.csv', 'r') as csvfile:
    text = csvfile.readlines()
list_names, list_is_meat, list_is_nut = ['']*len(text), [0]*len(text), [0]*len(text)
for i in range(len(text)):
    arr = text[i].split(',')
    name = text[i][len(arr[0])+1:-5]
    index, is_nut, is_meat = int(arr[0]), int(arr[-1]), int(arr[-2])
    list_names[index] = name
    list_is_meat[index] = is_meat
    list_is_nut[index] = is_nut
list_names

In [ ]:
checklist = ['pork', 'chicken', 'duck', 'turkey', 'lamb', 'beef', 'rabbit', 'poultry',\
             'venison', 'bacon', 'goose', 'pig', 'deer', 'cow', 'liver', 'sausage', 'sausages',\
             'liverwurst', 'sheep', 'fish', 'salmon', 'tuna', 'ham', 'mutton', 'seafood',\
             'salami', 'pheasant', 'boar', 'dog', 'bone', 'bones', 'shrimp', 'tilapia',\
             'fillet', 'fillets', 'cod', 'sardine', 'sardines', 'catfish', 'steak', 'steaks',\
             'mahi', 'halibut', 'trout', 'herring', 'swordfish', 'anchovy', 'anchovies',\
             'bass', 'hake', 'flounder', 'monkfish', 'tenderloin', 'tenderloins', 'lobster', 'lobsters',\
             'meat', 'roe', 'clam', 'clams', 'lard', 'rib', 'ribs', 'roast', 'brisket', 'veal',\
             'filet mignon']

for i in range(len(list_names)):
    words = list_names[i].split(' ')
    if 'vegetarian' in words or 'imitation' in words:
        continue
    for j in range(len(checklist)):
        if checklist[j] in words:
            list_is_meat[i] = 1
            break

In [ ]:
list_is_meat

In [ ]:
import numpy as np
arr = np.load('/content/ingr_map.pkl', allow_pickle=True)
ids = list(arr['id'])
ingrs = list(arr['raw_ingr'])
words = list(arr['raw_words'])
processed = list(arr['processed'])
len_proc = list(arr['len_proc'])
replaced = list(arr['replaced'])
count = list(arr['count'])
set_ingrs = set(ingrs)

ingr_map = {}
for i in range(len(ids)):
    if ids[i] not in ingr_map:
        ingr_map[ids[i]] = replaced[i] + ',' + str(list_is_meat[i]) + ',' + str(list_is_nut[i])
    else:
        tmp_is_meat, tmp_is_nut = int(ingr_map[ids[i]].split(',')[1]), int(ingr_map[ids[i]].split(',')[2])
        tmp_is_meat, tmp_is_nut = list_is_meat[i] and tmp_is_meat, list_is_nut[i] and tmp_is_nut
        ingr_map[ids[i]] = replaced[i] + ',' + str(tmp_is_meat) + ',' + str(tmp_is_nut)
print(len(ingr_map))

8023

In [ ]:
ingr_map

In [ ]:
out_text = 'id,name,is_meat,is_nut\n'
for id in ingr_map.keys():
    new_line = str(id) + ',' + ingr_map[id] + '\n'
    out_text += new_line
f = open('/content/ingr_map.csv', 'w')
f.write(out_text)
f.close()

In [ ]:
recipe = pd.read_csv('/content/PP_recipes_processed_new.csv', sep=',', header=None)
recipe

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,4,6,9,10,11,12,13,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

              0       1   ...        15    16
0            NaN      id  ...  calories  carb
1            0.0  424415  ...     228.2  15.0
2            1.0  146223  ...     249.4  11.0
3            2.0  312329  ...     351.3   8.0
4            3.0   74301  ...      79.7   2.0
...          ...     ...  ...       ...   ...
178261  178260.0  323143  ...     304.1     8
178262  178261.0  149114  ...     235.9     0
178263  178262.0   34200  ...     577.5     8
178264  178263.0   30618  ...     240.1    10
178265  178264.0  263840  ...      98.1     4

[178266 rows x 17 columns]